/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --main: #ccc;
  --white: #fefefe;
  --light-e: #eee;
  --black-0: #000;
  --black-1: #111;
  --black-0f: #0f0f0f;
  --gray-9: #999;
  --gray-7: #777;
  --gray-5: #555;
  --gray-c: #ccc;
  --pink: #ff3998;
  --green: #39ffa0;
  --orange: #ff8139;
  --red: #ff3939;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--black-1);
  color: var(--main);
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* ===================HEADER */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.logo {
  font-family: 'Varela Round', sans-serif;
  color: var(--white);
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5%;
  position: relative;
  padding-left: 48px;
}

.logo:before {
  content: '';
  width: 100%;
  max-width: 36px;
  height: 36px;
  position: absolute;
  top: -7px;
  left: 0;
  background: url('../img/logo.svg') no-repeat;
}

.menu__list {
  display: flex;
}

.menu__list-item:not(:last-child) {
  margin-right: 28px;
}

.menu__list-link {
  color: var(--gray-c);
  transition: all .2s linear;
  font-size: 20px;
  font-weight: 400;
}

.menu__list-link:hover {
  color: var(--pink);
  transition: all .2s linear;
}

.burger {
  display: none;
  width: 24px;
  height: 22px;
  position: relative;
}

.burger._active {
  transform: rotate(90deg);
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--gray-9);
  border-radius: 4px;
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger__elem {
  position: absolute;
  left: 0;
  top: 9px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--gray-9);
}

.burger._active .burger__elem {
  opacity: 0;
  transition: all .2s linear;
}

.burger._active:before {
  transform: rotate(-45deg);
  top: 9px;
  background-color: var(--white);
  transition: all .2s linear;
}

.burger._active:after {
  transform: rotate(45deg);
  bottom: 9px;
  background-color: var(--white);
  transition: all .2s linear;
}
.main__inner {
  display: flex;
  padding: 182px 0;
  position: relative;
}
.main__text {
  max-width: 610px;
  margin-right: 146px;
  position: relative;
}
.main__suptitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--pink);
  letter-spacing: 10%;
  text-transform: uppercase;
}
.main__title {
  font-size: 96px;
  font-weight: 900;
  color: var(--white);
  margin: .25em 0 .3333em 0;
}
.main__subs {
  line-height: 150%;
  max-width: 520px;
}
.button {
  display: inline-block;
  color: var(--white);
  margin-top: 41px;
  border-radius: 100px;
  padding: 22px 56px;
  text-align: center;
  background-size: 200%;
  position: relative;
  background-color: var(--black-1);
}
.button:after{
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -3px;
  z-index: -1;
  width: calc(100% + 6px);
  height: calc(100% + 8px);
  background-image: linear-gradient(80deg, #ff3939 10%, #ff8139 30%, #39ffa0, #ff3998);
  border-radius: 100px;
  background-size: 200%;
  animation: animatebutton 5s ease infinite paused;
}
.button:hover::after{
  animation-play-state: running;
}
@keyframes animatebutton {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.main__image {
  position: relative;
}
.main__image:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(45deg, var(--orange), var(--pink));
  border-radius: 50%;
  filter: blur(95px);
}
.main__img{
  position: relative;
}
/* ===================FREE */
.free {
  background: linear-gradient(45deg, #ff3998, #ff3939, #ff8139, #39ffa0);
}

.free__inner {
  padding: 56px 0 64px 0;
  display: flex;
  position: relative;
}

.free__text {
  color: var(--black-1);
}

.free__title {
  font-size: 2em;
  margin: .65em 0 .6em 0;
}

.free__cards {
  display: flex;
}
.free__subsc{
  line-height: 150%;
}

.free__cards:hover .card--tiny-white {
  transform-origin: bottom left;
  transition: all .4s linear;
}

.free__cards:hover .card--tiny {
  transform-origin: bottom right;
  transition: all .4s linear;
}

/* ===================BRANDS */
.brands__inner {
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
}

.brands__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.brands__item:hover .brands__link {
  color: #fefefe;
  transition: all .2s linear;
}

.brands__item:hover .icon {
  fill: #fefefe;
  transition: all .2s linear;
}

.brands__link {
  color: var(--gray-9);
  font-size: 38px;
  font-weight: 400;
  transition: all .2s linear;
}

.icon {
  margin-right: 15px;
}

svg {
  width: 41px;
  height: 41px;
  fill: var(--gray-9);
  transition: all .2s linear;
}

/* ===================AUCTION */
.auction__inner {
  overflow: hidden;
}

.auction__title {
  color: var(--white);
  font-size: 40px;
}

.auction__subsc {
  color: var(--gray-9);
  line-height: 150%;
  font-size: 1em;
  padding-top: 1.2em;
  font-weight: 400;
}

.auction__text-link {
  text-decoration: underline;
  color: var(--gray-9);
  transition: all .2s linear;
}

.auction__text-link:hover {
  color: var(--white);
  transition: all .2s linear;
}

.auction__slider-inner {
  display: flex;
  margin-top: 56px;
}

.auction__slider-slide {
  width: 290px;
  display: inline-block;
}

/* ----------CARD */
.card {
  font-size: 20px;
  background-color: var(--black-0);
  border-radius: .8em;
  display: inline-block;
}

.card__img {
  max-width: 100%;
  border-radius: .8em .8em 0 0;
}

.card__options {
  padding: 1.2em;
}

.card__option {
  display: flex;
  justify-content: space-between;
}

.card__option:not(:last-child) {
  margin-bottom: .6em;
  line-height: 100%;
}

.card__series {
  text-transform: uppercase;
  font-size: .6em;
  color: var(--orange);
}

.card__status {
  text-transform: uppercase;
  font-size: .6em;
  color: var(--gray-7);
}

.card__name {
  font-size: 1em;
  color: var(--white);
}

.card__cost {
  font-size: 1em;
  color: var(--white);
  position: relative;
}

.card__cost:before {
  content: '';
  width: .65em;
  height: 1.1em;
  background: url(../img/cards/medium/decor.svg) no-repeat;
  position: absolute;
  top: -.15em;
  left: -1em;
  max-width: 100%;
}

.card__id {
  font-size: .9em;
  color: var(--gray-7);
}

.card__deadline {
  font-size: .9em;
  color: var(--gray-7);
}

/* ----------/CARD */
/* ----------CARD-BIG */
.card--big {
  font-size: 22px;
}

.card__cost--big:before {
  background: url(../img/cards/big/decor-big.svg) no-repeat;
}

/* ----------/CARD-BIG */
/* ----------CARD--TINY-WHITE */
.card--tiny-white {
  font-size: 14px;
  background-color: var(--light-e);
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  transform: translate(-170px, -80px) scale(1) rotate(-7deg);
  z-index: 2;
  transition: all .4s linear;
}

.card__name-tiny-white,
.card__cost-tiny-white {
  color: var(--black-1);
}

.card__cost-tiny-white {
  position: relative;
}

.card__cost-tiny-white:before {
  content: '';
  background: url(../img/cards/tiny/decor-tiny.svg) no-repeat;
  position: absolute;
  top: -.15em;
  left: -1em;
  width: .8em;
}

/* ----------/CARD--TINY-WHITE */
/* ----------CARD--TINY*/
.card--tiny {
  font-size: 14px;
  background-color: var(--black-0f);
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  transform: translate(0px, -50px) scale(1) rotate(3deg);
  z-index: 1;
  transition: all .4s linear;
}

.card__name-tiny {
  color: var(--light-e);
}

.card__cost-tiny {
  color: var(--light-e);
}

.card__cost-tiny {
  position: relative;
}

.card__cost-tiny:before {
  content: '';
  background: url(../img/cards/tiny/decor-tiny.svg) no-repeat;
  position: absolute;
  top: -.15em;
  left: -1em;
  width: .8em;
}

/* ----------/CARD--TINY*/
/* ===================RELEASE*/
.release {
  background: var(--orange);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.release::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 100%;
  max-width: 500px;
  height: 200px;
  background: var(--pink);
  filter: blur(100px);
}

.release--margin {
  margin: 120px 0;
}

.release__inner {
  padding: 81px 80px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.release__inner:hover .release__image {
  transform: scale(1.1);
  transition: all 2s linear;
}

.release__text {
  color: var(--black-1);
  position: relative;
  z-index: 2;
}

.release__title {
  font-size: 40px;
  font-weight: 500;
}

.release__text-subsc {
  padding: 32px 0;
  max-width: 455px;
}

.release__subsc {
  font-weight: 40;
  line-height: 150%;
}

.release__subsc:not(:last-child) {
  margin-bottom: 30px;
}

.release__subsc-link {
  font-weight: 500;
  color: var(--black-1);
  line-height: 150%;
  text-decoration: underline;
  transition: all .2s linear;
}

.release__subsc-link:hover {
  color: var(--white);
  transition: all .2s linear;
}

.release__button {
  color: var(--black-1);
  line-height: 150%;
}
.release__button:after{
  content: "\f178";
  padding-left: 11px;
  font-family: "FontAwesome";
}

.release__offer {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.release__image {
  transition: all 1.3s linear;
}

.release__options {
  margin: 0 0 80px 80px;
}

.release__series,
.release__name,
.release__id {
  display: block;
  line-height: 100%;
  margin-bottom: 12px;
}

.release__id {
  margin-bottom: 0;
}

.release__series {
  color: var(--white);
  font-size: 12px;
  text-transform: uppercase;
}

.release__name {
  color: var(--black-1);
}

.release__id {
  color: var(--gray-7);
  font-size: 18px;
}

/* ===================RELEASE--SECOND*/
.release--item-card {
  background: var(--green);
}

.release__inner--item-card {
  padding: 80px 120px 80px 176px;
}

.release--item-card:after {
  content: '';
  background: var(--orange);
  left: -100px;
  bottom: -60px;
  max-width: 450px;
  height: 200px;
  filter: blur(130px);
}

.release__text-subsc--item-card {
  color: var(--gray-5);
}

.release__subsc-link--item-card {
  color: var(--gray-5);
}

.release__subsc-link--item-card:hover {
  color: var(--black-0f);
}

/* ===================BENEFITS */
.benefits--margin {
  margin: 120px 0;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits__item {
  border-radius: 16px;
  padding: 4em;
  line-height: 150%;
  background-color: var(--gray-5);
}

.benefits__item:not(:last-child) {
  margin-right: 40px;
}

.benefits__img {
  max-width: 100%;
}

.benefits__title {
  color: var(--white);
  font-size: 40px;
  margin: 32px 0;
  line-height: 150%;
}

.benefits__text {
  line-height: 150%;
}

.benefits__text-item {
  max-width: 460px;
  font-weight: 400;
}

.benefits__text-item:not(:last-child) {
  margin-bottom: 20px;
}
/* ===================OFFER */
.main__inner--second{
  border-top: 2px solid var(--gray-5);
  border-bottom: 2px solid var(--gray-5);
  padding: 85px 0 0 10px;
  overflow: hidden;
}
.main__text--second{
  padding-bottom: 122px;
}
.main__title--second{
  font-size: 56px;
}
.main__image--second{
  position: relative;
}
.main__image--second:before{
  content: '';
  display: block;
  right: -150px;
  width: 250%;
  height: 80%;
  background: linear-gradient(45deg, var(--orange) 40%, var(--pink) 20%);
  transform: rotate(-30deg);
  border-radius: 50%;
  filter: blur(70px);
}
/* ===================FOOTER */
.footer__inner {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.footer__general {
  max-width: 233px;
}

.footer__sections {
  display: flex;
}

.footer__sections-row {
  display: flex;
}

.footer__sections-row:not(:last-child) {
  margin-right: 78px;
}

.footer__general-subsc {
  color: var(--gray-c);
  line-height: 100%;
  padding: 30px 0;
  font-weight: 400;
}
.footer__socials {
  display: flex;
}
.footer__social-link{
  color: var(--gray-9);
  transition: all .2s linear;
}
.footer__social-link:hover{
  color: var(--pink);
  transition: all .2s linear;
}
.footer__social-link:not(:last-child){
  margin-right: 16px;
}
.footer__sections {
  display: flex;
}

.footer__section {
  line-height: 100%;
}

.footer__section:not(:last-child) {
  margin-right: 80px;
}

.footer__title {
  font-size: 16px;
  letter-spacing: 10%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 21px;
}

.footer__item-link {
  font-weight: 400;
  color: var(--gray-c);
  transition: all .2s linear;
}

.footer__item-link:hover {
  color: var(--white);
  transition: all .2s linear;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  color: var(--gray-7);
  line-height: 100%;
  font-weight: 400;
  margin-top: 120px;
  padding-bottom: 160px;
}

.footer__copyright-link {
  color: var(--gray-7);
  transition: all .2s linear;
  line-height: 100%;
  /* font-weight: 400; */
}

.footer__copyright-link:hover {
  color: var(--white);
  transition: all .2s linear;
}

/* =================== */
/* 

font-family: 'Varela Round', sans-serif; 
*/